= simple_form_for @user do |f|
  .field
    %br
    %br
    %div{"ng-controller" => "UsersCtrl"}
      %form{"ng-submit" => "addEntry()"}
        .row
          .col-md-3
            = f.input :name, "ng-model" => "newEntry.name", type: "text"
          .col-md-9
            %br
  .actions
    = f.submit "Save", class: "btn btn-primary"
    = link_to 'Cancel', users_path, class: "btn btn-danger"
{{newEntry.name}}
